body.light {
  background-color: #f8f9fa;
  color: #212529;
}

body.dark {
  background-color: #121212;
  color: #eaeaea;
}

.react-flow__node {
  transition: all 0.3s ease;
}

.react-flow__node.dark {
  background: #1e1e1e !important;
  color: white;
  border-color: #0d6efd !important;
}

.react-flow__node.light {
  background: white !important;
  color: black;
}
